body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items to the top of the container */
}

#hex-grid {
  flex-shrink: 0; /* Prevent shrinking */
  min-width: 56rem; /* Minimum width for HexGrid */
  height: 50rem;
}

#instructions {
  max-width: 20rem;
  width: auto;
  padding: 1rem;
  flex-grow: 1; /* Let it grow to take up remaining space */
}

h1 {
  font-size: large;
}

p {
  font-size: medium;
}

button {
  display: block;
  margin-top: 1rem;
}

/* Media query for screens less than 900px wide */
@media (max-width: 900px) {
  #app {
    flex-direction: column; /* Stack the elements vertically */
  }

  #hex-grid {
    flex: unset;
    /* min-width: unset; */
  }

  #instructions {
    max-width: 40rem;
    width: auto;
    padding: 1rem;
  }
}
