body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

#app {
  display: flex;
  flex-direction: row;
}

#hex-grid {
  display: block;
  width: 100%;
  height: 750px;
  margin: 0 auto;
}

#instructions {
  display: block;
  width: auto;
  padding: 1rem;
}

h1 {
  font-size: large;
}

p {
  font-size: medium;
}

button {
  display: block;
  margin-top: 1rem;
}

/*  
@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #0e1117;
  }
  polygon {
    fill: #776970;
    stroke-width: 3;
    stroke: rgb(179, 179, 179);
  }
  text {
    fill: rgb(226, 224, 224);
    stroke: rgb(226, 224, 224);
  }
}
*/
